{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<div id="home">
    <div id="razerFirstCarousel" class="my-carousel carousel slide carousel-fade" data-bs-ride=""
      data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/front_page.jpg' %}" class="d-block w-100" alt="..." />
              <div class="razer-carousel-caption carousel-caption-razer-services d-none d-md-block">
                  <h1 class="razer-carousel-service-header-text">
                    WE SELL BRAND <br> <span class="span-razer">EXPERIENCE</span> 
                  </h1>
                </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/img_2.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-services d-none d-md-block">
            <h1 class="razer-carousel-service-header-text">Second slide label</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/img_3.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-services d-none d-md-block">
            <h1 class="razer-carousel-service-header-text">Third slide label</h1>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
  <!-- End Hero -->
  <main id="main">
    
    <!-- ======= Clients Section Title ======= -->
    <section id="clients" class="clients">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <div class="razer-moving-text">
                <div class="list">
                  <div class="item">
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-t"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-b"></p>
                    </span>
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-g"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-y"></p>
                    </span>
                   </div>
                </div>
                  <div class="list">
                  <div class="item">
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-t"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-b"></p>
                    </span>
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-g"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-y"></p>
                    </span>
              
                   </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row" id="brand-strategy">
            <div class="container razer-service-container" style="background: url({% static 'assets/img/service_1.jpg' %}); background-size: cover;">
                <div class="razer-service-container-item">
                    <h1 class="razer-service-section">Section</h1>
                    <h1 class="razer-huge-text">1</h1>
                    <h1 class="razer-huge-text-2">BRAND STRATEGY</h1>
                    <P class="razer-service-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium mollitia deleniti fuga error nemo tempora tenetur atque quibusdam quidem, voluptatem ipsum magni architecto. Voluptatem a quasi facere distinctio doloribus autem excepturi illo ea odio? Explicabo quidem natus cupiditate placeat.</P>
                </div>
                <div class="service-razer-button-container">
                    <a href="#" class="razer-styled-button">READ MORE</a>
                    <button class="extend-razer-styled-button"></button>
                </div>
            </div>
            <hr>
          </div>

        

        <div class="row" id="brand-identity">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/service_2.jpg' %}); background-size: cover;">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                  <div class="razer-service-container-item razer-service-container-even-item">
                    <h1 class="razer-service-section">Section</h1>
                    <h1 class="razer-huge-text">2</h1>
                    <h1 class="razer-huge-text-2">BRAND IDENTITY DESIGN</h1>
                    <P class="razer-service-p-even">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium mollitia deleniti fuga error nemo tempora tenetur atque quibusdam quidem, voluptatem ipsum magni architecto. Voluptatem a quasi facere distinctio doloribus autem excepturi illo ea odio? Explicabo quidem natus cupiditate placeat.</P>
                </div>
                <div class="row justify-content-end">
                  <div class="col-lg-3 col-sm-7 col-md-5">
                    <div class="service-razer-button-container">
                      <a href="#" class="razer-styled-button">READ MORE</a>
                      <button class="extend-razer-styled-button"></button>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <hr>
        </div>

        

        <div class="row" id="website-design">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/service_3.jpg' %}); background-size: cover;">
              <div class="razer-service-container-item">
                  <h1 class="razer-service-section">Section</h1>
                  <h1 class="razer-huge-text">3</h1>
                  <h1 class="razer-huge-text-2">WEBSITE DESIGN & DEV</h1>
                  <P class="razer-service-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium mollitia deleniti fuga error nemo tempora tenetur atque quibusdam quidem, voluptatem ipsum magni architecto. Voluptatem a quasi facere distinctio doloribus autem excepturi illo ea odio? Explicabo quidem natus cupiditate placeat.</P>
              </div>
              <div class="service-razer-button-container">
                  <a href="#" class="razer-styled-button">READ MORE</a>
                  <button class="extend-razer-styled-button"></button>
              </div>
          </div>
          <hr>
        </div>

        <div class="row" id="digital-marketing">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/front_page.jpg' %}); background-size: cover;">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <div class="razer-service-container-item razer-service-container-even-item">
                  <h1 class="razer-service-section">Section</h1>
                  <h1 class="razer-huge-text">4</h1>
                  <h1 class="razer-huge-text-2">DIGITAL MARKETING</h1>
                  <P class="razer-service-p-even">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium mollitia deleniti fuga error nemo tempora tenetur atque quibusdam quidem, voluptatem ipsum magni architecto. Voluptatem a quasi facere distinctio doloribus autem excepturi illo ea odio? Explicabo quidem natus cupiditate placeat.</P>
              </div>
              <div class="row justify-content-end">
                <div class="col-lg-3 col-sm-7 col-md-5">
                  <div class="service-razer-button-container">
                    <a href="#" class="razer-styled-button">READ MORE</a>
                    <button class="extend-razer-styled-button"></button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- End Clients Section Title -->
  </main>
  <!-- End #main -->
{% endblock content %}