{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<div id="home">
    <div id="razerFirstCarousel" class="my-carousel carousel slide carousel-fade" data-bs-ride=""
      data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/front_page.jpg' %}" class="d-block w-100" alt="..." />
              <div class="razer-carousel-caption carousel-caption-razer-services d-none d-md-block">
                  <h1 class="razer-carousel-service-header-text">
                    WE SELL BRAND <br> <span class="span-razer">EXPERIENCE</span> 
                  </h1>
                </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/img_2.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-services d-none d-md-block">
            <h1 class="razer-carousel-service-header-text">Second slide label</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/img_3.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-services d-none d-md-block">
            <h1 class="razer-carousel-service-header-text">Third slide label</h1>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
  <!-- End Hero -->
  <main id="main">
    
    <!-- ======= Clients Section Title ======= -->
    <section id="clients" class="clients">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <div class="razer-moving-text">
                <div class="list">
                  <div class="item">
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-t"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-b"></p>
                    </span>
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-g"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-y"></p>
                    </span>
                   </div>
                </div>
                  <div class="list">
                  <div class="item">
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-t"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-b"></p>
                    </span>
                    <span class="item-txt span-razer-white">OUR</span>
                    <span class="item-d">
                      <p class="item-dot dot-g"></p>
                    </span>
                    <span class="item-txt span-razer">SERVICES</span>
                    <span class="item-d">
                      <p class="item-dot dot-y"></p>
                    </span>
              
                   </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row" id="brand-strategy">
            <div class="container razer-service-container" style="background: url({% static 'assets/img/service_1.jpg' %}); background-size: cover;">
                <div class="razer-service-container-item animated animatedFadeInUp fadeInUp">
                    <h1 class="razer-service-section">Section</h1>
                    <h1 class="razer-huge-text">1</h1>
                    <h1 class="razer-huge-text-2">BRAND STRATEGY</h1>
                    <P class="razer-service-p">Before any action is taken here at Razermind, we research the market, if necessary, and see what is working and what isn’t, depending on the project.
                      <br>
                      <br>
                      By building this big foundation, we will understand who we are working with, who out client's potential customers are, and knowing this will help us be more accurate in our brand development.
                      </P>
                </div>
                <div class="service-razer-button-container">
                    <a onclick="displayBrandStrategyDetail()" class="razer-styled-button">READ MORE</a>
                    <button class="extend-razer-styled-button"></button>
                </div>
            </div>
            <hr>
          </div>

          <div class="row" id="brand-strategy-detail">
            <div class="container razer-service-container" style="background: url({% static 'assets/img/service_1.jpg' %}); background-size: cover;">
                <div class="razer-service-container-item animated animatedFadeInUp fadeInUp">
                    <h1 class="razer-service-section-header">BRAND STRATEGY</h1>
                    <p class="razer-service-p-detail">Our team has a background in developing and researching businesses, and then creating a forecast of what might happen in a year, and then coming up with a realistic plan to achieve the desired outcome.
                    <br>
                    <br>
                    Having said that we have a defined mile stone we like to implement in each and every project we hold. 
                      </p>
                </div>
                <div class="row animated animatedFadeInUp fadeInUp">
                  <div class="razer-service-scrollable-container">
                    <div class="row">
                      <div class="col-5"><h1 class="razer-service-scrollable-header">CONDUCT RESEARCH</h1></div>
                      <div class="col-7"><P class="razer-service-scrollable-text">We strive to gain as much insight into our clients' perspective as possible and answer as many questions as possible. Additionally, we take the time to investigate how the market outside of the brand we wish to develop works.</P></div>
                    </div>
                    <div class="row">
                      <div class="col-1"></div>
                      <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">After compiling a list of the elements that other organizations are utilizing, we strive to incorporate those elements in a manner that enhances the brand. To achieve this, we must relate to the vision and purpose of our clients.</P></div>
                      <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PROS AND CONS</h1></div>
                    </div>
                    <div class="row">
                      <div class="col-5"><h1 class="razer-service-scrollable-header">Device a strategy</h1></div>
                      <div class="col-7"><P class="razer-service-scrollable-text">As a branding solution company, we strategize how to reach the target audience or platform in the most effective way possible and break down the results into actionable steps.</P></div>
                    </div>
                  </div>
                </div>
                <div class="service-razer-button-container">
                    <a onclick="displayBrandStrategy()" class="razer-styled-button">READ LESS</a>
                    <button class="extend-razer-styled-button"></button>
                </div>
            </div>
            <hr>
          </div>

        

        <div class="row" id="brand-identity">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/service_2.jpg' %}); background-size: cover;">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                  <div class="razer-service-container-item razer-service-container-even-item animated animatedFadeInUp fadeInUp">
                    <h1 class="razer-service-section">Section</h1>
                    <h1 class="razer-huge-text">2</h1>
                    <h1 class="razer-huge-text-2">BRAND IDENTITY DESIGN</h1>
                    <P class="razer-service-p-even">Once a comprehensive or rough brand strategy has been created, the next step is to begin to integrate the pieces of the larger picture. This requires meticulous research and analysis of the strategy. 
                      <br>
                      <br>
                       Our goal is to create a persona that is well-positioned in the marketplace, with a clear purpose and a solid foundation. However, if the identity is not accessible to the target audience, then the identity building process is necessary.
                      </P>
                </div>
                <div class="row justify-content-end">
                  <div class="col-lg-3 col-sm-7 col-md-5">
                    <div class="service-razer-button-container">
                      <a onclick="displayBrandIdentityDetail()" class="razer-styled-button">READ MORE</a>
                      <button class="extend-razer-styled-button"></button>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <hr>
        </div>

        <div class="row" id="brand-identity-detail">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/service_2.jpg' %}); background-size: cover;">
            <div class="razer-service-container-item animated animatedFadeInUp fadeInUp">
              <h1 class="razer-service-section-header">BRAND IDENTITY</h1>
              <p class="razer-service-p-detail">As with any creative package, there is a key element that we believe is most applicable to most industries, however, it may vary depending on the requirements of the sector.
              </p>
            </div>
            <div class="row animated animatedFadeInUp fadeInUp">
              <div class="razer-service-scrollable-container">
                <div class="row">
                  <div class="col-9"><h1 class="razer-service-scrollable-header">RESEARCHING THE TARGET CUSTOMER</h1></div>
                  <div class="col-3"><P class="razer-service-scrollable-text">By asking the consumer questions, we can be more specific about what we do and how it works. </P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">By building personas we now have an ideal consumer that we aim to satisfy the collective by referencing the built up persona. </P></div>
                  <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PERSONALITY</h1></div>
                </div>
                <div class="row">
                  <div class="col-2"><h1 class="razer-service-scrollable-header">NAME</h1></div>
                  <div class="col-10"><P class="razer-service-scrollable-text">Businesses while smart approach they tend to pick a specific name that excludes most and when they are done satisfying that target they relapse. We can help you create a better name to help you reach a wider range of people.</P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-6"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">These are the bounding corners for the brand to bounce on and off and are carefully chosen.</P></div>
                  <div class="col-5"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">LOOKS AND FONTS</h1></div>
                </div>
                <div class="row">
                  <div class="col-4"><h1 class="razer-service-scrollable-header">LOGO DESIGN</h1></div>
                  <div class="col-8"><P class="razer-service-scrollable-text">Every company rightfully so needs a face, the face needs to be recognizable and with distinct features. Being in market that faces are so many and are more similar to most than not. Having a simple and visually engaging would give our clients the best edge in the market. </P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">This ranges from creating a brand style guide to stationary and promotional material. Internal and external products must meet the class we have envisioned for the company.</P></div>
                  <div class="col-6"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">APPLICATION OF THE LOGO</h1></div>
                </div>
              </div>
            </div>
          <div class="service-razer-button-container">
              <a onclick="displayBrandIdentity()" class="razer-styled-button">READ LESS</a>
              <button class="extend-razer-styled-button"></button>
          </div>
          </div>
          <hr>
        </div>

        

        <div class="row" id="website-design">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/service_3.jpg' %}); background-size: cover;">
              <div class="razer-service-container-item animated animatedFadeInUp fadeInUp">
                  <h1 class="razer-service-section">Section</h1>
                  <h1 class="razer-huge-text">3</h1>
                  <h1 class="razer-huge-text-2">WEBSITE DESIGN & DEV</h1>
                  <P class="razer-service-p">In the modern era, individuals require websites to track the progress of their favorite brands and the new products they have released. 
                  <br>
                  <br>
                  To achieve this, it is beneficial to market oneself on a platform that is free to use, such as Google, and to strive to be at the top of the search results for the keywords. To do this, a website must be easy to access and a platform that is SE optimized. 
                  </P>
              </div>
              <div class="service-razer-button-container">
                  <a onclick="displayWebsiteDetail()" class="razer-styled-button">READ MORE</a>
                  <button class="extend-razer-styled-button"></button>
              </div>
          </div>
          <hr>
        </div>

        <div class="row" id="website-design-detail">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/service_3.jpg' %}); background-size: cover;">
              <div class="razer-service-container-item animated animatedFadeInUp fadeInUp">
                <h1 class="razer-service-section-header">WEBSITE DESIGN & DEV</h1>
                <p class="razer-service-p-detail">To ensure that the website is fully proofed, it is important to create a website that does not have an objective.</p>
              </div>
              <div class="row animated animatedFadeInUp fadeInUp">
                <div class="razer-service-scrollable-container">
                  <div class="row">
                    <div class="col-6"><h1 class="razer-service-scrollable-header">RESEARCH THE MARKET</h1></div>
                    <div class="col-6"><P class="razer-service-scrollable-text">This helps us what people are lacking using other platforms.</P></div>
                  </div>
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-9"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">This phase helps us understand the market and the consumer more by depicting and routing and re-routing the way they use current platforms. UX helps build a smooth platform that helps the consumer in every problem they may face and provide easy access to the end goal of the platform.</P></div>
                    <div class="col-2"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">UX</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-1"><h1 class="razer-service-scrollable-header">UI</h1></div>
                    <div class="col-11"><P class="razer-service-scrollable-text">It is not a surprise creating an eye catching design would definitely help the brand reach the desired consumer.</P></div>
                  </div>
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">Testing before launch internal and external tests.</P></div>
                    <div class="col-3"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PROTOTYPE</h1></div>
                  </div>
                  <div class="row">
                    <div class="col-6"><h1 class="razer-service-scrollable-header">HOSTING AND LAUNCHING</h1></div>
                    <div class="col-6"><P class="razer-service-scrollable-text">Final output with nice send off. </P></div>
                  </div>
                </div>
              </div>
              <div class="service-razer-button-container">
                  <a onclick="displayWebsite()" class="razer-styled-button">READ LESS</a>
                  <button class="extend-razer-styled-button"></button>
              </div>
          </div>
          <hr>
        </div>

        <div class="row" id="digital-marketing">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/front_page.jpg' %}); background-size: cover;">
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <div class="razer-service-container-item razer-service-container-even-item animated animatedFadeInUp fadeInUp">
                  <h1 class="razer-service-section">Section</h1>
                  <h1 class="razer-huge-text">4</h1>
                  <h1 class="razer-huge-text-2">DIGITAL MARKETING</h1>
                  <P class="razer-service-p-even">Our team specializes in developing the most effective strategy to achieve our clients' desired outcome, based on a thorough analysis of the mass trajectory and trends. We are well-versed in identifying the trend and determining the most effective way to execute it. 
                    <br>
                    <br>
                    While there may be out sourcing plans in place if necessary, we believe that combining the best resources for the best result is much more effective than simply providing a product.
                    </P>
              </div>
              <div class="row justify-content-end">
                <div class="col-lg-3 col-sm-7 col-md-5">
                  <div class="service-razer-button-container">
                    <a onclick="displayDigitalMarketingDetail()" class="razer-styled-button">READ MORE</a>
                    <button class="extend-razer-styled-button"></button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="digital-marketing-detail">
          <div class="container razer-service-container" style="background: url({% static 'assets/img/front_page.jpg' %}); background-size: cover;">
            <div class="razer-service-container-item animated animatedFadeInUp fadeInUp">
              <h1 class="razer-service-section-header">DIGITAL MARKETING</h1>
              <p class="razer-service-p-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quo corrupti, dolores provident recusandae velit ducimus nam aspernatur fugiat necessitatibus ipsa error! Repellat suscipit molestiae laudantium blanditiis dignissimos, optio inventore vel iste consequatur reiciendis quae veniam harum accusantium adipisci nihil voluptate amet maxime ipsa voluptatem, sunt accusamus reprehenderit, voluptas id?</p>
            </div>
            <div class="row animated animatedFadeInUp fadeInUp">
              <div class="razer-service-scrollable-container">
                <div class="row">
                  <div class="col-5"><h1 class="razer-service-scrollable-header">CONDUCT RESEARCH</h1></div>
                  <div class="col-7"><P class="razer-service-scrollable-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                  <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PROS AND CONS</h1></div>
                </div>
                <div class="row">
                  <div class="col-4"><h1 class="razer-service-scrollable-header">PROS AND CONS</h1></div>
                  <div class="col-8"><P class="razer-service-scrollable-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                  <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PROS AND CONS</h1></div>
                </div>
                <div class="row">
                  <div class="col-4"><h1 class="razer-service-scrollable-header">PROS AND CONS</h1></div>
                  <div class="col-8"><P class="razer-service-scrollable-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                  <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PROS AND CONS</h1></div>
                </div>
                <div class="row">
                  <div class="col-4"><h1 class="razer-service-scrollable-header">PROS AND CONS</h1></div>
                  <div class="col-8"><P class="razer-service-scrollable-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                  <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">PROS AND CONS</h1></div>
                </div>
                <div class="row">
                  <div class="col-4"><h1 class="razer-service-scrollable-header">PROS AND CONS</h1></div>
                  <div class="col-8"><P class="razer-service-scrollable-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusantium maxime suscipit voluptatum ratione voluptatibus ullam consequatur dolore officiis facere! Dolorem autem magni mollitia quia nemo libero unde exercitationem incidunt!</P></div>
                </div>
              </div>
            </div>
            <div class="service-razer-button-container">
                <a onclick="displayDigitalMarketing()" class="razer-styled-button">READ LESS</a>
                <button class="extend-razer-styled-button"></button>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <!-- End Clients Section Title -->
    <section class="section">
      <div class="container">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="razer-new-project-container">
            {% include 'includes/alerts.html' %}
            <h1 class="razer-new-project-header">
              NEW <span class="span-razer">PROJECT?</span>
            </h1>
            <div class="razer-project-input-wrapper">
              <input
                class="razer-project-input-box"
                type="text"
                placeholder="NAME"
                name="name"
                required
              />
              <span class="underline"></span>
            </div>
            <div class="razer-project-input-wrapper">
              <input
                class="razer-project-input-box"
                type="email"
                placeholder="EMAIL"
                name="email"
                required
              />
              <span class="underline"></span>
            </div>
            <div class="razer-project-input-wrapper">
              <input
                class="razer-project-input-box"
                type="text"
                placeholder="HOW CAN WE HELP?"
                name="description"
                required
              />
              <input
                type="submit"
                class="invite-btn"
                type="button"
                value="LET'S GET TO WORK!"
              />
              <span class="underline"></span>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <!-- End #main -->
  <script>
  function displayBrandStrategy(){
    var brandStrategy = document.getElementById('brand-strategy');
    var brandStrategyDetail = document.getElementById('brand-strategy-detail');
    if (brandStrategy.style.display === "none"){
      brandStrategy.style.display = "block";
      brandStrategyDetail.style.display = "none";
    } else {
      brandStrategy.style.display = "none";
      brandStrategyDetail.style.display = "block";
    }
  }

  function displayBrandStrategyDetail(){
    var brandStrategy = document.getElementById('brand-strategy');
    var brandStrategyDetail = document.getElementById('brand-strategy-detail');
    if (brandStrategyDetail.style.display === "none"){
      brandStrategyDetail.style.display = "block";
      brandStrategy.style.display = "none";
    } else {
      brandStrategyDetail.style.display = "none";
      brandStrategy.style.display = "block";
    }
  }

  function displayBrandIdentity(){
    var brandIdentity = document.getElementById('brand-identity');
    var brandIdentityDetail = document.getElementById('brand-identity-detail');
    if (brandIdentity.style.display === "none"){
      brandIdentity.style.display = "block";
      brandIdentityDetail.style.display = "none";
    } else {
      brandIdentity.style.display = "none";
      brandIdentityDetail.style.display = "block";
    }
  }

  function displayBrandIdentityDetail(){
    var brandIdentity = document.getElementById('brand-identity');
    var brandIdentityDetail = document.getElementById('brand-identity-detail');
    if (brandIdentityDetail.style.display === "none"){
      brandIdentityDetail.style.display = "block";
      brandIdentity.style.display = "none";
    } else {
      brandIdentityDetail.style.display = "none";
      brandIdentity.style.display = "block";
    }
  }
  function displayWebsite(){
    var websiteDesign = document.getElementById('website-design');
    var websiteDesignDetail = document.getElementById('website-design-detail');
    if (websiteDesign.style.display === "none"){
      websiteDesign.style.display = "block";
      websiteDesignDetail.style.display = "none";
    } else {
      websiteDesign.style.display = "none";
      websiteDesignDetail.style.display = "block";
    }
  }

  function displayWebsiteDetail(){
    var websiteDesign = document.getElementById('website-design');
    var websiteDesignDetail = document.getElementById('website-design-detail');
    if (websiteDesignDetail.style.display === "none"){
      websiteDesignDetail.style.display = "block";
      websiteDesign.style.display = "none";
    } else {
      websiteDesignDetail.style.display = "none";
      websiteDesign.style.display = "block";
    }
  }

  function displayDigitalMarketing(){
    var digitalMarketing = document.getElementById('digital-marketing');
    var digitalMarketingDetail = document.getElementById('digital-marketing-detail');
    if (digitalMarketing.style.display === "none"){
      digitalMarketing.style.display = "block";
      digitalMarketingDetail.style.display = "none";
    } else {
      digitalMarketing.style.display = "none";
      digitalMarketingDetail.style.display = "block";
    }
  }

  function displayDigitalMarketingDetail(){
    var digitalMarketing = document.getElementById('digital-marketing');
    var digitalMarketingDetail = document.getElementById('digital-marketing-detail');
    if (digitalMarketingDetail.style.display === "none"){
      digitalMarketingDetail.style.display = "block";
      digitalMarketing.style.display = "none";
    } else {
      digitalMarketingDetail.style.display = "none";
      digitalMarketing.style.display = "block";
    }
  }
  </script>
{% endblock content %}