{% load static %}
<div>
  <button
    class="button-float"
    id="myBtn"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
  >
    <div id="lb" class="loading-bar"></div>
    <div id="lb1" class="loading-bar1"></div>
    <div id="lb2" class="loading-bar2"></div>
  </button>

  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
    <div class="offcanvas-body">
      <div class="razer-sidenav-container">
        <ul class="razer-sidenav">
          <div class="razer-sidenav-item-holder">
            <div class="razer-sidenav-item-border">
              <li>
                <a class="razer-sidenav-item" id="side-1" href="#">SERVICE</a>
                <div class="razer-sidenav-submenu" id="sub-1">
                  <div class="razer-sidenav-submenu-style">
                    <ul>
                      <li>
                        <h2 class="razer-overlapping-header">
                          <span
                            ><span class="razer-overlapping-span1"
                              >WE PROVIDE</span
                            ><br /><span class="sub-span">SERVICE</span></span
                          >
                        </h2>
                      </li>
                      <li><a href="{% url 'service' %}#brand-strategy">BRAND STRATEGY</a></li>
                      <hr />
                      <li><a href="{% url 'service' %}#brand-identity">BRAND IDENTITY DESIGN</a></li>
                      <hr />
                      <li><a href="{% url 'service' %}#website-design">WEBSITE DESIGN AND DEVELOPMENT</a></li>
                      <hr />
                      <li><a href="{% url 'service' %}#digital-marketing">DIGITAL MARKETING</a></li>
                      <hr />
                    </ul>
                  </div>
                </div>
              </li>
            </div>
            <i
              ><img
                class="razer-sidenav-icon"
                src="{% static 'assets/img/service.png' %}"
                alt=""
            /></i>
          </div>
          <div class="razer-sidenav-item-holder">
            <div class="razer-sidenav-item-border">
              <li>
                <a class="razer-sidenav-item" id="side-2" href="{% url 'project' %}">PORTFOLIO</a>
                <!-- <div class="razer-sidenav-submenu" id="sub-2">
                  <div class="razer-sidenav-submenu-style">
                    <ul>
                      <li><a href="">TEST</a></li>
                      <li><a href="">TEST</a></li>
                      <li><a href="">TEST</a></li>
                      <li><a href="">TEST</a></li>
                    </ul>
                  </div>
                </div> -->
              </li>
            </div>
            <i
              ><img
                class="razer-sidenav-icon"
                src="{% static 'assets/img/shop.png' %}"
                alt=""
            /></i>
          </div>
          <div class="razer-sidenav-item-holder">
            <div class="razer-sidenav-item-border">
              <li><a class="razer-sidenav-item" href="{% url 'blog' %}">BLOG</a></li>
            </div>
            <i
              ><img
                class="razer-sidenav-icon"
                src="{% static 'assets/img/blog.png' %}"
                alt=""
            /></i>
          </div>
          <div class="razer-sidenav-item-holder">
            <div class="razer-sidenav-item-border">
              <li><a class="razer-sidenav-item" href="{% url 'about' %}">ABOUT US</a></li>
            </div>
            <i
              ><img
                class="razer-sidenav-icon"
                src="{% static 'assets/img/about.png' %}"
                alt=""
            /></i>
          </div>
        </ul>
      </div>
    </div>
    <div class="offcanvas-footer">
      <div>
        <a href="" class="razer-sidenav-footer-text">TERMS AND CONDITIONS</a>
      </div>
    </div>
  </div>
</div>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="d-flex justify-content-between">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="{% url 'index' %}" class="logo me-auto"
      ><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"
    /></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a
            class="nav-link scrollto {% if title_name == 'Index' %}active{%endif%}"
            href="{% url 'index' %}"
            >HOME</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto {% if title_name == 'Service' %}active{%endif%}"
            href="{% url 'service' %}"
            >SERVICE</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto {% if title_name == 'Shop' %}active{%endif%}"
            href="{% url 'shop' %}"
            >SHOP</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto {% if title_name == 'Project' %}active{%endif%}"
            href="{% url 'project' %}"
            >PORTFOLIO</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto {% if title_name == 'Blog' %}active{%endif%}"
            href="{% url 'blog' %}"
            >BLOG</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto {% if title_name == 'About' %}active{%endif%}"
            href="{% url 'about' %}"
            >ABOUT US</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
