.about-section p {
  color: #f2f2f2;
}

.span-razer {
  color: #e3a325;
}
.portfolio-section {
  background-color: #080808;
}

/* Project Section */
.project-section-button {
  margin-top: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  color: #080808;
  position: relative;
  background: transparent;
}

.project-section-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.project-section-button:hover {
  transition-delay: 0.5s;
  color: #080808;
}

.project-section-button:hover::before {
  width: 100%;
}

.project-section-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.project-section-button:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
/* End Project Section */
.extend-razer-styled-button {
  border: 2px solid #e3a325;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 20px;
  color: white;
}
.razer-styled-button {
  text-decoration: none;
  position: absolute;
  border: 4px solid transparent;
  background-color: transparent;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}
.razer-styled-button:hover + .extend-razer-styled-button {
  width: 150px;
  transition: width 0.3s ease-in-out;
}
.razer-styled-button:hover {
  color: #fff;
}
.razer-button-container {
  width: 100px;
  margin: auto;
}
/* Razer Styled Button */

.razer-text {
  text-align: left;
}

.razer-text h1 {
  font-size: 5em;
}

/* Razer moving text */
.razer-moving-text {
  margin: 30px 0;
  display: flex;
  white-space: nowrap;
}

.list {
  display: flex;
  align-items: top;
  -webkit-animation: loop 50s infinite linear;
  animation: loop 50s infinite linear;
}

.item-txt {
  font-family: "Fester", sans-serif;
  font-size: 10em;
  line-height: 110px;
  font-weight: 650;
  text-transform: uppercase;
}

.span-razer-white {
  color: #f2f2f2;
}

.item-d {
  display: inline;
}

.item-dot {
  max-width: 20px;
  max-height: 20px;
  margin: 0 20px;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-30px);
}

@keyframes loop {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Carousel */
.my-carousel {
  position: absolute;
  top: 0;
}
#razerFirstCarousel {
  position: relative;
  height: 100vh;
  width: 100%;
}
#razerFirstCarousel .carousel-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
}
#razerFirstCarousel .carousel-inner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#razerFirstCarousel .carousel-inner .carousel-item {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
#razerFirstCarousel .carousel-inner .carousel-item:nth-child(2) {
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
#razerFirstCarousel .carousel-inner .carousel-item:nth-child(3) {
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

.razer-carousel-caption {
  position: absolute;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  right: 15%;
}

.carousel-caption-razer-home {
  text-align: left;
  left: 5%;
  bottom: 8.23em;
}

.carousel-caption-razer-services {
  text-align: right;
  right: 5%;
  bottom: 8.23em;
}

.carousel-indicators [data-bs-target] {
  width: 2px;
  height: 20px;
  background-color: #f2f2f2;
  margin: 0 5px;
}

.carousel-indicators .active {
  height: 40px;
  margin-top: -20px;
}

.razer-carousel-header-text {
  font-size: 4em;
  max-width: 50%;
}

.razer-carousel-p-text {
  color: #f2f2f2;
}

.razer-carousel-service-header-text {
  font-size: 3em;
}

.razer-carousel-shop-header-text {
  font-size: 3em;
}

#razerClientsCarousel {
  margin: 0 5% 0 5%;
  padding: 30px;
}

/* sidebar toggle button */
/* #myBtn {
  display: none;
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition-delay: 2s;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
}

#myBtn img {
  width: 55px;
  height: 40px;
}

#myBtn:hover {
  background-color: #555;
} */
.button-float {
  display: none;
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 99;
  cursor: pointer;
  height: 40px;
  width: 40px;
  flex-direction: column;
  align-items:end;
  background-color: transparent;
  border: none;
}
.loading-bar {
  width: 9px;
  height: 10px;
  margin: 0.5px 0 5px 0;
  background-color: #e3a325;
  border-radius: 5px;
  transition-duration: .15s;
  animation: progressAnim .2s;
}
.loading-bar1 {
  width: 30px;
  height: 10px;
  margin: 0.5px 0 5px 0;
  background-color: #e3a325;
  border-radius: 5px;
  transition-duration: .15s;
  animation: progressAnim1 .5s;
}
.loading-bar2 {
  width: 60px;
  height: 10px;
  margin: 0.5px 0 5px 0;
  background-color: #e3a325;
  border-radius: 5px;
  transition-duration: .30s;
  animation: progressAnim2 .8s;
}
@keyframes progressAnim {
  from {width: 0}
  to {width: 10px}
}
@keyframes progressAnim1 {
  from {width: 0}
  to {width: 31px}
}

@keyframes progressAnim2 {
  from {width: 0}
  to {width: 61px}
}

.offcanvas-header button {
  background-color: #e3a325;
}

#offcanvasRightLabel {
  color: #e3a325;
}

.razer-sidenav {
  list-style: none;
}
.razer-sidenav li {
  color: #e3a325;
}
.offcanvas {
  width: 30% !important;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas-footer {
  text-align: center;
  margin-bottom: 30px;
}

.razer-sidenav-footer-text {
  color: #f2f2f2;
}

.razer-sidenav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.razer-sidenav-item {
  font-size: 30px;
  color: #f2f2f2;
}

.razer-sidenav-item-holder {
  display: flex;
  justify-content: end;
  align-items: center;
}

.razer-sidenav-item-holder i {
  padding: 10px 0px 10px 20px;
}

.razer-sidenav-icon {
  display: flex;
  align-items: flex-end;
}

.razer-sidenav-item-border {
  border-bottom: 2px solid #e3a325;
  padding-left: 20px;
}

.razer-sidenav-submenu {
  display: none;
  position: fixed;
  top: 50%;
  right: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: transparent;
  height: 500px;
  z-index: -99999;
}

.razer-sidenav-item:hover + .razer-sidenav-submenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: visible;
  opacity: 1;
}

.razer-sidenav-submenu-active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: visible;
  opacity: 1;
}

.razer-sidenav-submenu-style ul {
  list-style: none;
}

.razer-sidenav-submenu-style .sub-span {
  font-size: 60px;
  color: #f2f2f2;
}

.razer-sidenav-submenu-style a {
  font-size: 30px;
  color: #f2f2f2;
}

.razer-sidenav-submenu-style hr {
  border: 2px solid #e3a325;
  width: 200px;
  margin: auto;
  opacity: 1;
}

/* Razer Overlapping Text */
.razer-overlapping-header {
  line-height: 25px;
}

.razer-overlapping-span1 {
  font-size: 70px;
  background: -webkit-linear-gradient(#eee, #eeeeee00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.razer-overlapping-span2 {
  font-size: 70px;
  background: -webkit-linear-gradient(#eee, #eeeeee00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}
/* End Overlapping Text */

/* Razer service containers */
.razer-service-container {
  width: 100%;
  height: 100vh;
  padding: 5% 10% 0%;
}
@media only screen and (max-width: 1000px) {
  .razer-service-container {
    height: 120vh;
  }
}

.razer-service-container-even-item {
  text-align: right;
}

.service-razer-button-container {
  width: 100px;
}

.service-razer-button-container-even {
  width: 230px;
  position: absolute;
  right: 10%;
}

.razer-service-p {
  max-width: 70%;
  color: #f2f2f2;
}

.razer-service-p-even {
  margin-left: calc(50% - 150px);
  max-width: 1000px;
  color: #f2f2f2;
}

.razer-service-section {
  margin: 0;
  color: #f2f2f2;
}

.razer-huge-text {
  font-size: 20rem;
  line-height: 1;
  padding: 0 !important;
  margin: 0 !important;
  color: #e3a325;
}

.razer-huge-text-2 {
  font-size: 5rem;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 10px;
  padding: 0 !important;
  color: #f2f2f2;
}

.clients hr {
  max-width: 100%;
  border: 1px solid #e3a325;
  opacity: 0.7;
  margin: 20px 0;
}
/* End razer service containers */

/* Razer shop */
.mockup-header-container {
  margin-bottom: 10px;
}
.razer-mockup-header-text {
  font-size: 4rem;
  color: #f2f2f2;
  font-weight: 200;
}

.mockup-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.mockup-input {
  max-width: 190px;
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #53535f;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all 0.2s ease;
}

.mockup-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.mockup-input:focus {
  border: 2px solid #e3a325;
  background-color: #0e0e10;
}

.mockup-search__btn {
  border: none;
  cursor: pointer;
  background-color: rgba(42, 42, 45, 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup-search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}
.razer-shop .card {
  margin-bottom: 20px;
  background-color: transparent;
  --bs-card-border-color: transparent;
}
.razer-shop .card-title {
  color: #f2f2f2;
  font-size: 2rem;
  font-weight: 200;
}
.razer-shop .card-text {
  color: #e3a325;
}

.razer-shop-ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fac921;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.razer-shop-ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.razer-shop-ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.razer-shop-ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.razer-shop-ui-btn:hover,
.razer-shop-ui-btn:focus {
  background: var(--btn-hover-bg);
}

.razer-shop-ui-btn:hover span,
.razer-shop-ui-btn:focus span {
  color: var(--hover-btn-color);
}
/* End Razer shop */

/* Razer About page */
.razer-team-work {
  height: auto;
  color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 5.5em;
  font-weight: 750;
}

.carousel-caption-razer-team {
  bottom: 20em;
}
.section-who-are-we {
  padding: 20px 0;
  overflow: hidden;
  background-color: #282828;
}

.razer-about-container .razer-about-container-text {
  color: #f2f2f2;
  text-align: center;
  font-size: 6rem;
  font-weight: 200;
}

.razer-about-text {
  color: #f2f2f2;
}

.team-header-container {
  margin-bottom: 10px;
}
.razer-team-header-text {
  font-size: 6rem;
  color: #f2f2f2;
  font-weight: 200;
}
.razer-senior-team {
  padding-bottom: 120px;
}

.razer-senior-team .card {
  margin-bottom: 20px;
  background-color: transparent;
  --bs-card-border-color: transparent;
}

.razer-senior-team .card-body {
  padding: 0;
}

.razer-senior-team .card-img-top {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.razer-senior-team .card-title {
  color: #f2f2f2;
  font-size: 2rem;
  /* font-weight: 300; */
  margin-top: 4px;
}
.razer-senior-team .card-text {
  color: #f2f2f2;
  font-size: 1.5rem;
}
.razer-senior-team hr {
  max-width: 100%;
  border: 1px solid #e3a325;
  opacity: 0.7;
  margin: 20px 0;
}

.razer-team {
  padding-bottom: 120px;
}

.razer-team .card {
  margin-bottom: 20px;
  background-color: transparent;
  --bs-card-border-color: transparent;
}

.razer-team .card-body {
  padding: 0;
}

.razer-team .card-img-top {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.razer-team .card-title {
  color: #f2f2f2;
  font-weight: 200;
  margin-top: 4px;
}
.razer-team .card-text {
  color: #f2f2f2;
}
.razer-team hr {
  max-width: 100%;
  border: 1px solid #e3a325;
  opacity: 0.7;
  margin: 20px 0;
}
.razer-new-project-container {
  padding: 0 50px;
}
.razer-new-project-header {
  color: #f2f2f2;
}

.razer-project-input-wrapper {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.razer-project-input-box {
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #e3a325;
  color: #e3a325;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #555;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e3a325;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.razer-project-input-box:focus {
  border-color: #e3a325;
  outline: none;
}

.razer-project-input-box:focus + .underline {
  transform: scaleX(1);
}

.invite-btn {
  position: absolute;
  width: 20%;
  right: 4px;
  top: -22px;
  bottom: 22px;
  z-index: 10;
  border-radius: 50%;
  background-color: transparent;
  color: #555;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 40px;
  transition: 0.6s ease;
  border: 1px solid #e3a325;
}

.invite-btn:hover {
  color: #f2f2f2;
  background-color: #e3a325;
}

/* End Razer About page */

/* Razer Project */

.razer-mockup-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "razer-mockup-column-1 razer-mockup-column-1 razer-mockup-column-2"
    "razer-mockup-column-3 razer-mockup-column-4 razer-mockup-column-2"
    ". . .";
}

.razer-mockup-column-1 { grid-area: razer-mockup-column-1; height: 50vh; }

.razer-mockup-column-2 { grid-area: razer-mockup-column-2; }

.razer-mockup-column-3 { grid-area: razer-mockup-column-3; }

.razer-mockup-column-4 { grid-area: razer-mockup-column-4; }

.project-row>*{
  padding-left: 0px;
  padding-right: 0px;
}
.razer-project{
  padding-top: 0;
}

.razer-project .container{
  margin-left: 0px;
  margin-right: 0px;
}

.razer-project-right-column{
  margin-left: 50px;
}

.razer-img-scrollable{
  overflow-y: scroll; 
  height:806px;
}

.razer-img-scrollable::-webkit-scrollbar {
  width: 12px;
}

.razer-project-img{
  width: 100%;
  height: 390px;
  background-size: cover;
}

.razer-project-text-container{
  margin-top: 50px;
  margin-bottom: 150px;
}

.razer-project-link-container{
  margin-bottom: 50px;
}

.razer-project-button-container{
  display: flex;
  justify-content: space-between;
}

.razer-project-button-holder{
  width: 202px;
  display: flex;
}

.razer-project-header-text{
  font-size: 4em;
  margin-top: 40px;
}

.razer-project-text{
  color: #f2f2f2;
}

.project-extend-razer-styled-button {
  border: 2px solid #e3a325;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  margin-left: auto;
}
.project-razer-styled-button {
  text-decoration: none;
  position: absolute;
  border: 4px solid transparent;
  background-color: transparent;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 8px;
  font-size: 18px;
  color: white;
}
.project-razer-styled-button:hover + .project-extend-razer-styled-button {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.project-razer-styled-button:hover {
  color: #fff;
}

.next-project-extend-razer-styled-button {
  border: 2px solid #e3a325;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 20px;
  color: white;
}
.next-project-razer-styled-button {
  text-decoration: none;
  position: absolute;
  border: 4px solid transparent;
  background-color: transparent;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}
.next-project-razer-styled-button:hover + .next-project-extend-razer-styled-button {
  width: 185px;
  transition: width 0.3s ease-in-out;
}
.next-project-razer-styled-button:hover {
  color: #fff;
}
/* End Razer Project */

/* Razer Footer Space */
.footer-bottom .razer-footer-space {
  width: 40px;
  display: inline-block;
}

.footer-top .razer-footer-sm-img {
  width: 40px;
  height: 20px;
  margin-bottom: 4px;
}

.footer-top .razer-footer-lg-img {
  width: 415.987px;
}

.footer-top .razer-social-icons {
  display: flex;
}

.razer-footer-header-text {
  color: #fff;
}

/* Razer Blog */
.razer-blog-text {
  color: #f2f2f2;
}

.razer-blog-header {
  color: #f2f2f2;
}

.razer-blog-container{
  width: 70%;
  height: 70vh;
}

.razer-blog-image{
  height: 50vh;
  object-fit: cover;
}

.razer-blog-hr{
  max-width: 100%;
  border: 1px solid #e3a325;
  opacity: 0.7;
  margin: 20px 0;
}

.blog-extend-razer-styled-button {
  border: 2px solid #e3a325;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  margin-left: auto;
}
.blog-razer-styled-button {
  text-decoration: none;
  position: absolute;
  border: 4px solid transparent;
  background-color: transparent;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 8px;
  font-size: 18px;
  color: white;
}
.blog-razer-styled-button:hover + .blog-extend-razer-styled-button {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.blog-razer-styled-button:hover {
  color: #fff;
}

.next-blog-extend-razer-styled-button {
  border: 2px solid #e3a325;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 20px;
  color: white;
}
.next-blog-razer-styled-button {
  text-decoration: none;
  position: absolute;
  border: 4px solid transparent;
  background-color: transparent;
  height: 50px;
  border-radius: 50px / 50px; /* half of 100px, half of 50px */
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}
.next-blog-razer-styled-button:hover + .next-blog-extend-razer-styled-button {
  width: 185px;
  transition: width 0.3s ease-in-out;
}
.next-blog-razer-styled-button:hover {
  color: #fff;
}
/* End Razer Blog */

/* Mailchimp styles */
#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  max-width: 100%;
  text-align: center;
}

#mc_embed_signup .mc-field-group {
  margin-top: 4px;
  width: 100%;
}

.mc-field-group input {
  background-color: #282828;
  color: #f2f2f2;
  width: 100%;
  padding: 6px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.mc-field-group input:focus {
  background-color: #282828;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  width: 100%;
  box-sizing: border-box;
}
#mc_embed_signup .foot {
  display: flex;
  justify-content: center;
  width: 96%;
  align-items: center;
}

#mc_embed_signup .button {
  clear: both;
  background-color: transparent;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
}

#mc-embedded-signup .button:hover {
  background-color: transparent;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  text-align: center;
  background-color: transparent;
}
