{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- End Hero -->
  <main id="main">
    <section class="section">
      <br>
      <br>
      <br>
    </section>
    <!-- ======= Clients Section Title ======= -->
    <section id="clients" class="razer-blog">
      <div class="container">
        <div class="row">
          <div class="team-header-container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h1 class="razer-team-header-text">{{blog.title}}</h1>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="razer-about-text">{{blog.description_1}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <img class="razer-blog-url-img" src="{{ blog.blog_image.url }}"  alt="">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="razer-about-text">{{blog.description_2}}</p>
              </div>
            </div>
            <div class="row justify-content-evenly align-items-center">
              <div class="col-2 text-center">
                <div class="razer-project-button-container">
                  {% if prev_blog %}
                  <div class="razer-project-button-holder">
                    <a
                      href="{% url 'detail_blog' prev_blog.id %}"
                      class="blog-razer-styled-button"
                      >PREVIOUS BLOG</a
                    >
                    <button class="blog-extend-razer-styled-button"></button>
                </div>
                {% endif %}
                </div>
              </div>
              <div class="col-8 text-center">
                <a href="#"><img class="razer-blog-social-links" src="{% static 'assets/img/razer/fb.png' %}" alt="instagram-icon" /></a>
                <a href="#"><img class="razer-blog-social-links" src="{% static 'assets/img/razer/twitter.png' %}" alt="instagram-icon" /></a>
                <a href="#"><img class="razer-blog-social-links" src="{% static 'assets/img/razer/telegram.png' %}" alt="instagram-icon" /></a>
              </div>
              <div class="col-2 text-center">
                <div class="razer-project-button-container">
                  {% if next_blog %}
                  <div class="razer-project-button-holder">
                    <a
                      href="{% url 'detail_blog' next_blog.id %}"
                      class="next-blog-razer-styled-button"
                      >NEXT BLOG</a
                    >
                    <button
                      class="next-blog-extend-razer-styled-button"
                    ></button>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
        </div>

      </div>

    </section>
    <!-- End Clients Section Title -->
    <section class="section">
      <div class="container">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="razer-new-project-container">
            <h1 class="razer-new-project-header">
              <span class="span-razer">COMMENTS</span>
            </h1>
            <div class="razer-project-input-wrapper">
              <input
                class="razer-project-input-box"
                type="text"
                placeholder="NAME"
                name="name"
                required
              />
              <span class="underline"></span>
            </div>
            <div class="razer-project-input-wrapper">
              <input
                class="razer-project-input-box"
                type="email"
                placeholder="EMAIL"
                name="email"
                required
              />
              <span class="underline"></span>
            </div>
            <div class="razer-project-input-wrapper">
              <input
                class="razer-project-input-box"
                type="text"
                placeholder="HOW CAN WE HELP?"
                name="comment"
                required
              />
              <input
                type="submit"
                class="invite-btn"
                type="button"
                value="SUBMIT"
              />
              <span class="underline"></span>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock content %}