{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ======= Hero Section ======= -->
<div id="home">
  <div
    id="razerFirstCarousel"
    class="my-carousel carousel slide carousel-fade"
    data-bs-ride=""
    data-bs-interval="5000"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#razerFirstCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#razerFirstCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#razerFirstCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'assets/img/front_page.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="carousel-caption carousel-caption-razer-team d-none d-md-block"
        >
          <h1 class="razer-team-work">TEAM WORK</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'assets/img/img_2.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="carousel-caption carousel-caption-razer-team d-none d-md-block"
        >
          <h1 class="razer-team-work">Second slide label</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'assets/img/img_3.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div
          class="carousel-caption carousel-caption-razer-team d-none d-md-block"
        >
          <h1 class="razer-team-work">Third slide label</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Hero -->
<main id="main">
  <!-- ======= Clients Section Title ======= -->
  <section id="clients" class="clients">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <div class="razer-moving-text">
            <div class="list">
              <div class="item">
                <span class="item-txt span-razer-white">ABOUT</span>
                <span class="item-d">
                  <p class="item-dot dot-t"></p>
                </span>
                <span class="item-txt span-razer">RAZERMIND</span>
                <span class="item-d">
                  <p class="item-dot dot-b"></p>
                </span>
                <span class="item-txt span-razer-white">ABOUT</span>
                <span class="item-d">
                  <p class="item-dot dot-g"></p>
                </span>
                <span class="item-txt span-razer">RAZERMIND</span>
                <span class="item-d">
                  <p class="item-dot dot-y"></p>
                </span>
              </div>
            </div>
            <div class="list">
              <div class="item">
                <span class="item-txt span-razer-white">ABOUT</span>
                <span class="item-d">
                  <p class="item-dot dot-t"></p>
                </span>
                <span class="item-txt span-razer">RAZERMIND</span>
                <span class="item-d">
                  <p class="item-dot dot-b"></p>
                </span>
                <span class="item-txt span-razer-white">ABOUT</span>
                <span class="item-d">
                  <p class="item-dot dot-g"></p>
                </span>
                <span class="item-txt span-razer">RAZERMIND</span>
                <span class="item-d">
                  <p class="item-dot dot-y"></p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section Title -->

  
  <section class="section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
          <h1 class="razer-about-container-text">WHO ARE WE?</h1>
          <br>
          <p class="razer-about-text">
            Organizing your team is the key to great storytelling. However, the diversity of your team members is essential to build the best version. We have a wealth of experience in different areas that can help us tell even the most complex stories.
            <br>
            <br>
            Being aware of this kind of business approach is relatively new. It allows you to experiment in different ways to achieve a particular outcome.
            <br>
            <br>
            We offer the most popular packages to give you a general overview of our capabilities, but we also provide a more in-depth and integrated version of each section. 

          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="razer-about-container-text">OUR APPROACH</h1>
          <br>
          <p class="razer-about-text">
            The majority of research suggests that consumers purchase products or services based on the level of quality they offer. In a society characterized by superfluous features, the items that are increasingly discussed are classes. However, simply tapping into emotions is not sufficient. Data is an essential element in the study of patterns and forecasting of the future. Collecting and organizing data to address a particular issue is something that is highly valued. As it prepares the ground for the future.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-bg">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="razer-about-container-text">CLEAR STRATEGY</h1>
          <br>
          <p class="razer-about-text">
            In every creative work, we have specific steps we follow and here is the general aspect of the process we undertake. 
          </p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="razer-strategy-scrollable-container">
          <div class="row">
            <div class="col-2"><h1 class="razer-service-scrollable-header">INQUIRE</h1></div>
            <div class="col-10"><P class="razer-service-scrollable-text">By inquiring to any individual within the company who is in charge of creating the company's narrative, we can gain insight into the company's history, current state and future to determine the course of action.</P></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-7"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">This phase helps us understand the market and the consumer more by depicting and routing and re-routing the way they use current platforms. UX helps build a smooth platform that helps the consumer in every problem they may face and provide easy access to the end goal of the platform.</P></div>
            <div class="col-4"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">DATA GATHERING</h1></div>
          </div>
          <div class="row">
            <div class="col-3"><h1 class="razer-service-scrollable-header">DESIGNING</h1></div>
            <div class="col-9"><P class="razer-service-scrollable-text">Our primary advantage in this process is our ability to communicate your narrative in a manner that promotes the expansion of your business. This encompasses a broad range of processes and meticulous work, as each milestone should be implemented in a manner that supports the primary goal.</P></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-8"><P class="razer-service-scrollable-text razer-service-scrollable-text-even">Since plans without objectives are worthless, we need to turn the designs into reality. There are few things that we can do with our design, such as printing, digital presence, and internal branding.</P></div>
            <div class="col-3"><h1 class="razer-service-scrollable-header razer-service-scrollable-header-even">IMPLEMENTATION</h1></div>
          </div>
          <div class="row">
            <div class="col-3"><h1 class="razer-service-scrollable-header">SEND OFF</h1></div>
            <div class="col-9"><P class="razer-service-scrollable-text">The process involves packaging all products with additional supplements to assist the business in taking the next step independently.
            </P></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TEAM -->
  <section class="section">
    <div class="container">
      <div class="team-header-container">
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h1 class="razer-team-header-text">TEAM</h1>
          </div>
        </div>
      </div>
      <div class="razer-senior-team">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Girum Abegaz</h5>
                <hr />
                <p class="card-text">Art Director <br />sample@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Helen Abreham</h5>
                <hr />
                <p class="card-text">Art Director <br />sample@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Biruk Seifu</h5>
                <hr />
                <p class="card-text">Art Director <br />sample@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="razer-team">
        <div class="row">
          <div class="col-lg-3">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">STATIONARY</h5>
                <hr />
                <p class="card-text">3 PSD files</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">BUSINESS CARD</h5>
                <hr />
                <p class="card-text">2 PSD files</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">APPLE WATCH</h5>
                <hr />
                <p class="card-text">1 PSD file</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <img
                src="{% static 'assets/img/front_page.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">T-SHIRT</h5>
                <hr />
                <p class="card-text">1 PSD file</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End TEAM -->
  <section class="section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="razer-team-header-text">TEAM PHILOSOPHY</h1>
          <p class="razer-about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            quisquam perferendis totam voluptas! Tenetur ipsa nostrum natus
            voluptatibus dolorem optio. Labore eveniet repellat distinctio
            similique doloribus mollitia quo, odit consequuntur dolore soluta,
            ut molestiae quos? Laborum maiores eaque modi distinctio temporibus,
            nisi, nemo laudantium veniam sed quam odio error exercitationem
            quidem nesciunt, minus placeat repellendus eligendi unde voluptate
            ex iusto! Ab repellat mollitia aliquam esse aperiam consectetur
            rerum fugit, soluta ipsam debitis harum id, magni eligendi omnis
            eveniet enim. Eius facilis esse voluptates, id nobis blanditiis
            architecto, itaque illo provident amet dolore quam aperiam libero
            aliquid repellendus eos magnam quo?
          </p>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="razer-new-project-container">
          {% include 'includes/alerts.html' %}
          <h1 class="razer-new-project-header">
            NEW <span class="span-razer">PROJECT?</span>
          </h1>
          <div class="razer-project-input-wrapper">
            <input
              class="razer-project-input-box"
              type="text"
              placeholder="NAME"
              name="name"
              required
            />
            <span class="underline"></span>
          </div>
          <div class="razer-project-input-wrapper">
            <input
              class="razer-project-input-box"
              type="email"
              placeholder="EMAIL"
              name="email"
              required
            />
            <span class="underline"></span>
          </div>
          <div class="razer-project-input-wrapper">
            <input
              class="razer-project-input-box"
              type="text"
              placeholder="HOW CAN WE HELP?"
              name="description"
              required
            />
            <input
              type="submit"
              class="invite-btn"
              type="button"
              value="LET'S GET TO WORK!"
            />
            <span class="underline"></span>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock content %}
