{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>RazerMind - {{ title_name }}</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.cdnfonts.com/css/fester" rel="stylesheet">
                
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'assets/css/custom_mod.css' %}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>
</head>

<body>
    {% include 'includes/navbar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'includes/footer.html' %}