{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
{% if projects.count >= 4 %}
  <div id="home">
    <div id="razerFirstCarousel" class="my-carousel carousel slide carousel-fade" data-bs-ride="carousel"
      data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{projects.0.tumb_image.url}}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-home d-none d-md-block">
            <h1 class="razer-carousel-header-text">
              {{projects.0.name}}
            </h1>
            <p class="razer-carousel-p-text">
              {{projects.0.description|slice:"50"}}...
            </p>
            <a href="{% url 'detail_project' projects.0.id %}" class="razer-styled-button">VIEW MORE</a>
            <button class="extend-razer-styled-button"></button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{projects.1.tumb_image.url}}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-home d-none d-md-block">
            <h1 class="razer-carousel-header-text">
              {{projects.1.name}}
            </h1>
            <p class="razer-carousel-p-text">
              {{projects.1.description|slice:"50"}}...
            </p>
            <a href="{% url 'detail_project' projects.1.id %}" class="razer-styled-button">VIEW MORE</a>
            <button class="extend-razer-styled-button"></button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{projects.2.tumb_image.url}}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-home d-none d-md-block">
            <h1 class="razer-carousel-header-text">
              {{projects.2.name}}
            </h1>
            <p class="razer-carousel-p-text">
              {{projects.2.description|slice:"50"}}...
            </p>
            <a href="{% url 'detail_project' projects.2.id %}" class="razer-styled-button">VIEW MORE</a>
            <button class="extend-razer-styled-button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div id="home">
    <div id="razerFirstCarousel" class="my-carousel carousel slide carousel-fade" data-bs-ride="carousel"
      data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#razerFirstCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/front_page.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-home d-none d-md-block">
            <h1 class="razer-carousel-header-text">
              THE UNCHARTED TERRITORY
            </h1>
            <p class="razer-carousel-p-text">
              Some representative placeholder content for the first slide.
            </p>
            <a href="index.html" class="razer-styled-button">VIEW MORE</a>
            <button class="extend-razer-styled-button"></button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/img_2.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-home d-none d-md-block">
            <h1 class="razer-carousel-header-text">Second slide label</h1>
            <p class="razer-carousel-p-text">
              Some representative placeholder content for the second slide.
            </p>
            <a href="index.html" class="razer-styled-button">VIEW MORE</a>
            <button class="extend-razer-styled-button"></button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/img_3.jpg' %}" class="d-block w-100" alt="..." />
          <div class="razer-carousel-caption carousel-caption-razer-home d-none d-md-block">
            <h1 class="razer-carousel-header-text">Third slide label</h1>
            <p class="razer-carousel-p-text">
              Some representative placeholder content for the third slide.
            </p>
            <a href="index.html" class="razer-styled-button">VIEW MORE</a>
            <button class="extend-razer-styled-button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- End Hero -->
  <main id="main">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="razer-overlapping-header"><span><span class="razer-overlapping-span1">WHO ARE WE?</span><br><span>About <span class="span-razer">RazerMind</span></span></span></h2>
        </div>

        <div class="row content">
          <div class="container about-section">
            <p class="text-center">
              At Razorermind studio, our mission is to provide the industry-leading product for our clients. We study, discuss, formulate and execute the best strategy to give our clients an advantage over their competition. Branding requires commitment and strong commitment to updating and curating the company's values in contemporary ways. You can find it all right here. With various experiences in building companies from the ground up, we understand what works and what doesn't to create a successful brand.
            </p>
            <div class="razer-button-container">
              <a href="{% url 'about' %}" class="razer-styled-button">READ MORE</a>
              <button class="extend-razer-styled-button"></button>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="razer-overlapping-header"><span><span class="razer-overlapping-span2">OUR PORTFOLIO</span><br><span>FEATURED <span class="span-razer">PROJECTS</span></span></span></h2>
        </div>
  
        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter=".filter-branding" class="filter-active">BRANDING</li>
          <li data-filter=".filter-websites">WEBSITES</li>
          <li data-filter=".filter-social-media">SOCIAL MEDIA</li>
        </ul>
  
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for project in projects_branding|slice:'3' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-branding">
              <a href="{% url 'detail_project' project.id %}">
              <div class="portfolio-img">
                <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
              </div>
              <div class="portfolio-info">
                <h3 class="razer-project-title-header">{{project.name}}</h3>
                <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"># {{tag}}</span>{% endfor %}</p>
              </div>
            </a>
            </div>  
          {% endfor %} 
          {% for project in projects_websites|slice:'3' %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-websites">
            <a href="{% url 'detail_project' project.id %}">
            <div class="portfolio-img">
              <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
            </div>
            <div class="portfolio-info">
              <h3 class="razer-project-title-header">{{project.name}}</h3>
              <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"># {{tag}}</span>{% endfor %}</p>
            </div>
          </a>
          </div> 
          {% endfor %} 
          {% for project in projects_social_media|slice:'3' %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-social-media">
            <a href="{% url 'detail_project' project.id %}">
            <div class="portfolio-img">
              <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
            </div>
            <div class="portfolio-info">
              <h3 class="razer-project-title-header">{{project.name}}</h3>
              <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"># {{tag}}</span>{% endfor %}</p>
            </div>
          </a>
          </div>  
          {% endfor %} 
        </div>
      </div>
      <div class="razer-button-container">
        <a href="{% url 'project' %}" class="razer-styled-button">VIEW MORE</a>
        <button class="extend-razer-styled-button"></button>
      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Clients Section Title ======= -->
    <section id="clients" class="clients razer-clients">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <div class="razer-moving-text">
              <div class="list">
                <div class="item">
                  <span class="item-txt span-razer-white">OUR</span>
                  <span class="item-d">
                    <p class="item-dot dot-t"></p>
                  </span>
                  <span class="item-txt span-razer">CLIENTS</span>
                  <span class="item-d">
                    <p class="item-dot dot-b"></p>
                  </span>
                  <span class="item-txt span-razer-white">OUR</span>
                  <span class="item-d">
                    <p class="item-dot dot-g"></p>
                  </span>
                  <span class="item-txt span-razer">CLIENTS</span>
                  <span class="item-d">
                    <p class="item-dot dot-y"></p>
                  </span>
                 </div>
              </div>
                <div class="list">
                <div class="item">
                  <span class="item-txt span-razer-white">OUR</span>
                  <span class="item-d">
                    <p class="item-dot dot-t"></p>
                  </span>
                  <span class="item-txt span-razer">CLIENTS</span>
                  <span class="item-d">
                    <p class="item-dot dot-b"></p>
                  </span>
                  <span class="item-txt span-razer-white">OUR</span>
                  <span class="item-d">
                    <p class="item-dot dot-g"></p>
                  </span>
                  <span class="item-txt span-razer">CLIENTS</span>
                  <span class="item-d">
                    <p class="item-dot dot-y"></p>
                  </span>
            
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="razerClientsCarousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#razerClientsCarousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#razerClientsCarousel" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#razerClientsCarousel" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row" data-aos="zoom-in">
              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row" data-aos="zoom-in">
              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row" data-aos="zoom-in">
              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="" />
              </div>

              <div class="col-lg-2 col-md-4 col-6 align-items-center">
                <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="" />
              </div> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Clients Section Title -->
    <section class="section">
      <div class="row">
        <div class="col">
          <div class="section-title">
            <h2 class="razer-overlapping-header"><span><span class="razer-overlapping-span1">OUR BLOGS</span><br><span>FEATURED<span class="span-razer"> NEWS</span></span></span></h2>
          </div>
        </div>
      </div>
      {% for blog in blogs|slice:":3" %}
      <div class="row">
        <div class="container razer-blog-container">
          <div class="row">
            <div class="col"><img class="razer-blog-image" src="{{blog.blog_image.url}}" alt=""></div>
            <div class="col align-self-end">
              <p class="razer-blog-text">{{blog.description_1|slice:"200"}}...</p>
              <h2 class="razer-blog-header">{{blog.title}}</h2>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-lg-2 col-sm-7 col-md-5">
              <div class="razer-readmore-button-holder">
                <a
                  href="{% url 'detail_blog' blog.id %}"
                  class="next-project-razer-styled-button"
                  >READ MORE</a
                >
                <button
                  class="next-project-extend-razer-styled-button"
                ></button>
              </div>
            </div>
            <hr class="razer-blog-hr">
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="razer-blog-viewmore-container">
        <div class="row">
          <div class="col">
            <div class="razer-button-container">
              <a href="{% url 'blog' %}" class="razer-styled-button">VIEW MORE</a>
              <button class="extend-razer-styled-button"></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock content %}