{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-bg">
<br>
</section>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 class="razer-overlapping-header"><span><span class="razer-overlapping-span2">OUR PORTFOLIO</span><br><span>FEATURED <span class="span-razer">PROJECTS</span></span></span></h2>
      </div>

      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li data-filter=".filter-all" class="filter-active">ALL</li>
        <li data-filter=".filter-branding">BRANDING</li>
        <li data-filter=".filter-websites">WEBSITES</li>
        <li data-filter=".filter-social-media">SOCIAL MEDIA</li>
      </ul>

      <div class="row portfolio-container-tab" data-aos="fade-up" data-aos-delay="200">
        {% for project in projects %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-all">
            <a href="{% url 'detail_project' project.id %}">
            <div class="portfolio-img">
              <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
            </div>
            <div class="portfolio-info">
              <h3 class="razer-project-title-header">{{project.name}}</h3>
              <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"> {{tag}}</span>{% endfor %}</p>
            </div>
          </a>
          </div>  
        {% endfor %} 
        {% for project in projects_branding %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-branding">
            <a href="{% url 'detail_project' project.id %}">
            <div class="portfolio-img">
              <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
            </div>
            <div class="portfolio-info">
              <h3 class="razer-project-title-header">{{project.name}}</h3>
              <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"> {{tag}}</span>{% endfor %}</p>
            </div>
          </a>
          </div>  
        {% endfor %} 
        {% for project in projects_websites %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-websites">
          <a href="{% url 'detail_project' project.id %}">
          <div class="portfolio-img">
            <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h3 class="razer-project-title-header">{{project.name}}</h3>
            <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"> {{tag}}</span>{% endfor %}</p>
          </div>
        </a>
        </div> 
        {% endfor %} 
        {% for project in projects_social_media %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-social-media">
          <a href="{% url 'detail_project' project.id %}">
          <div class="portfolio-img">
            <img src="{{project.project_image.url}}" class="img-fluid" alt="" />
          </div>
          <div class="portfolio-info">
            <h3 class="razer-project-title-header">{{project.name}}</h3>
            <p class="razer-project-p">{% for tag in project.tags.all %}<span class="span-project-tag"> {{tag}}</span>{% endfor %}</p>
          </div>
        </a>
        </div>  
        {% endfor %} 
      </div>
    </div>
  </section>
{% endblock content %}